header, .colunas,footer{
	border: 2px solid black;
}
main,nav,aside{
	border: 1px solid red;
}
.corpo{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	
}
.menu ul{
	list-style: none;
}
.menu ul li a:hover {
  background: #138a72;
}
.colunas{
	display: flex;
	flex: 1;
}
main{
	flex-grow: 8;
}
nav{
	flex-grow: 1;
	order: -1;
}
aside{
	flex-grow: 1;
}

@media (max-width: 700px){
	.colunas {
		flex-direction: column;
	}
	.menu .anuncios{
		width: 100%;
	}
}